@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    color: black;
}


/* landing page */

.landingPage {
    display: flex;
    height: 60vh;
    position: relative;
    padding-bottom: 10em;
}

.lp-left>h1,
h2,
h3 {
    margin: 0;
}

.landingPage .lp-left {
    width: 50%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landingPage .lp-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lp-right img {
    max-width: 80%;
    display: block;
    height: auto;
}


/*about-container*/

#about-whatIdo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: max-content;
    padding-bottom: 10em;
}

.title-wrap {
    border-left: 8px solid black;
    margin: none;
}

.title-wrap h3,
p {
    margin: 0;
    padding: 0 0 0 1.5rem;
}

#about-whatIdo .lp-right {
    position: relative;
    width: 70%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

#about-whatIdo .lp-left {
    background: url(./img/gray-circle2.svg) no-repeat;
    /* background-size: contain; */
    background-size: auto 100%;
    background-position: right;
    color: gray;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.design-wrap li {
    padding-left: 1.5em;
}

.design-wrap h3 {
    padding: 1.5em 0;
    padding-left: 1em;
}

@media only screen and (max-width: 600px) {
    .about-comment #hello {
        font-size: 2.8em;
    }
    .about-comment p {
        font-size: 1.3em;
    }
}

@media only screen and (max-width: 800px) {
    .about-container img {
        width: 300px;
        height: 300px;
        margin: auto;
    }
    .about-container {
        display: flex;
        flex-direction: column;
    }
    .about-comment {
        text-align: center;
    }
}


/*about-mybusiness-container*/

#about-mybusiness {
    display: flex;
    flex-direction: row;
    height: 600px;
}

#about-mybusiness .lp-right {
    background: url(./img/gray-circle1.svg) no-repeat;
    /* background-size: contain; */
    background-size: auto 100%;
    background-position: left;
    width: 30%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

#about-mybusiness .title-wrap {
    margin-top: 10%;
    margin-left: 10%;
}

#about-mybusiness .lp-left {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    /* background-color: yellow; */
}


/* contact */

#contact-me {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 60vh;
    width: 100%;
}


/* #contact-me .lp-left {
    width: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

#contact-me .lp-right {
    background: url(./img/gray-circle3.svg) no-repeat;
    background-size: contain;
    background-position: center;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-email {
    height: 50px;
    width: 200px;
    background: white;
    border: 2px solid #595959;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
}

.button-email:hover {
    background: #595959;
    border: 2px solid white;
    color: white;
    height: 50px;
    width: 200px;
    /* transform: scale(1.2); */
}


/*contact-container*/

.topwaves-footer {
    display: block;
}

footer {
    background-color: #595959;
    width: 100%;
    background-position: center;
    height: 200px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    color: white;
}

footer a {
    color: #595959;
}

@media only screen and (max-width: 500px) {
    footer p {
        font-size: 1em;
    }
}